@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

html,
body {
    width: 100%;
    height: 100%;

    background-color: #FAFAF9;

    overflow-x: hidden;
    overflow-y: scroll;
}

/* Loading Theme */

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 1;
    background-color: white;
    z-index: 9998;

    transition: all 0.25s linear;
}

/* Animations */

.fade-in {
    -webkit-animation: fade-in 0.3s ease-in both;
    animation: fade-in 0.3s ease-in both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-out {
    -webkit-animation: fade-out 0.5s ease-out both;
    animation: fade-out 0.5s ease-out both;
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Main Styles */

.main-container {
    position: absolute;
    right: 2.5%;
    width: 75%;
    height: 100%;
    float: right;

    z-index: 999;
}

.topbar-buttons {
    position: absolute;
    top: 9.5%;
    right: 0;
    width: 50vh;
    height: 5%;
    float: right;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    width: 35%;
    height: 17.5vh;

    opacity: 0;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    z-index: 999;
}

.title {
    position: absolute;
    top: 8.5%;
    float: left;

    margin-left: 25px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.5vh;
    font-weight: 500;
}

/* Buttons Box */

.topbar-button {
    text-wrap: nowrap;
    transition: all 0.15s linear;
}

.topbar-button:hover {
    transform: scale(1.05);
}

.topbar-button:active {
    transform: scale(0.95);
}

.dropdown {
    height: 100%;
    width: 35%;

    background: transparent;
    border-radius: 8px;
    border: 2px solid #F1F1F1;

    font-family: fredoka;
    font-size: 1.25vh;
    text-indent: -20%;

    cursor: pointer;

    &>i {
        position: relative;
        top: 30%;
        right: 25%;

        color: #C1C1C1;
        font-size: 1.85vh;

        float: right;
    }
}

.dropdown:hover+.dropdown-menu {
    background-color: red;
    opacity: 1;
}

.filters {
    height: 100%;
    width: 27.5%;

    background: transparent;
    border-radius: 8px;
    border: 2px solid #F1F1F1;

    font-family: fredoka;
    font-size: 1.25vh;
    text-indent: 20%;

    cursor: pointer;

    &>i {
        position: relative;
        top: 30%;
        left: 12.5%;

        color: #C1C1C1;
        font-size: 1.85vh;

        float: left;
    }
}

.export {
    height: 100%;
    width: 27.5%;

    background: #D6DAFF;
    border-radius: 8px;
    border: none;

    color: #6473FF;
    font-family: fredoka;
    font-size: 1.25vh;
    text-indent: 20%;

    cursor: pointer;

    &>i {
        position: relative;
        top: 30%;
        left: 12.5%;

        color: #6473FF;
        font-size: 1.85vh;

        float: left;
    }
}

.dropdown-button {
    height: 30%;
    width: 85%;

    background: #FAFAF9;
    border-radius: 8px;
    border: 2px solid #F1F1F1;

    font-family: fredoka;
    font-size: 1.25vh;
    text-indent: -20%;

    cursor: pointer;

    &>i {
        position: relative;
        top: 30%;
        right: 25%;

        color: #C1C1C1;
        font-size: 1.85vh;

        float: right;
    }
}

/* Top Box */

.box-container {
    width: 100%;
    height: 75%;

    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.top-box-container {
    width: 100%;
    height: 20%;

    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.bottom-box-container {
    width: 100%;
    height: 60%;

    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.box {
    height: 90%;
    width: 40%;

    border-radius: 10px;
    border: 2px solid #F1F1F1;

    transition: all 0.15s linear;
}

.box:hover {
    transform: scale(1.025);
    box-shadow: 0 0 25px 1px rgba(200, 200, 200, 0.3);

    &>.flex-box>.box-image {
        &>i {
            font-size: 2.75vh;
            transform: translate(-50%, -50%) rotate(-5deg);
        }
    }
}

.box:active {
    transform: scale(0.95);
    box-shadow: 0 0 25px 1px rgba(200, 200, 200, 0.3);

    &>.flex-box>.box-image {
        &>i {
            font-size: 2.4vh;
            transform: translate(-50%, -50%) rotate(-5deg);
        }
    }
}

.bottom-box {
    height: 100%;
    width: 50%;

    border-radius: 10px;
    border: 2px solid #F1F1F1;

    transition: all 0.15s linear;
}

@media only screen and (max-width: 1000px) {
    .box-container {
        height: 125%;
    }

    .top-box-container {
        height: 15vh;

        display: flex;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }

    .box {
        height: 90%;
        width: 55%;
    }

    .bottom-box-container {
        height: 85%;
        display: flex;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .bottom-box {
        height: 50%;
        width: 100%;
    }
}

@media only screen and (max-width: 950px) {
    .title {
        display: none;
    }

    .topbar-buttons {
        left: 50%;
        transform: translateX(-50%);
    }

    .box-container {
        height: 150%;
    }

    .top-box-container {
        height: 33vh;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .box {
        height: 15vh;
        width: 45%;
    }

    .bottom-box-container {
        height: 110vh;
        display: flex;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .bottom-box {
        height: 50%;
        width: 90%;
    }
}

.box-image {
    &>i {
        transition: all 0.1s linear;
    }
}

.box-1 {
    height: 50%;
    aspect-ratio: 1/1;
    background-color: #DCF0FF;
    border-radius: 8px;
    margin-left: 10%;

    &>i {
        color: #47AEFF;
        font-size: 2.5vh;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Up: #E1FFD6 (Light), #67F135 (Dark) | Down: #FFC7C7 (Light), #FE3E3E (Dark) */

.box-2 {
    height: 50%;
    aspect-ratio: 1/1;
    background-color: #FFC7C7;
    border-radius: 8px;
    margin-left: 10%;

    &>i {
        color: #FE3E3E;
        font-size: 2.5vh;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.box-3 {
    height: 50%;
    aspect-ratio: 1/1;
    background-color: #FFEBBD;
    border-radius: 8px;
    margin-left: 10%;

    &>i {
        color: #F3B934;
        font-size: 2.5vh;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.flex-box {
    width: 100%;
    height: 100%;

    display: flex;
    gap: 15px;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.box-text {
    width: 50%;

    display: flex;
    gap: 15px;
    flex-direction: column;
}

.box-text>h2 {
    color: gray;

    font-family: fredoka;
    font-size: 2.5%;
    font-weight: 500;
    text-wrap: nowrap;
    margin: 0;
}

.box-text>h3 {
    color: black;

    font-family: fredoka;
    font-size: 150%;
    font-weight: 500;
    text-wrap: nowrap;
    margin: 0;
}

/* Bottom Box */

.bottom-box:hover {
    transform: scale(1.025);
    box-shadow: 0 0 25px 1px rgba(200, 200, 200, 0.3);

    &>.box-image {
        &>i {
            transform: translate(-50%, -50%) scale(1.1) rotate(-5deg);
        }
    }
}

.bottom-box:active:not(.internal-container > .retry-container:active, .internal-container > .image-container:active) {
    transform: scale(0.975);
    box-shadow: 0 0 25px 1px rgba(200, 200, 200, 0.3);

    &>.box-image {
        &>i {
            transform: translate(-50%, -50%) scale(0.995) rotate(-5deg);
        }
    }
}

.box-4 {
    height: 10vh;
    aspect-ratio: 1/1;
    background-color: #FFC7C7;
    border-radius: 8px;
    margin-left: 7%;

    &>i {
        color: #FE3E3E;
        font-size: 4.5vh;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.bottom-flex-box {
    width: 100%;
    height: 40%;

    display: flex;
    gap: 25px;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.bottom-box-text {
    width: 50%;

    display: flex;
    gap: 30px;
    flex-direction: column;
}

.bottom-box-text>h2 {
    color: gray;

    font-family: fredoka;
    font-size: 80%;
    font-weight: 500;
    text-wrap: nowrap;
    margin: 0;
}

.bottom-box-text>h3 {
    color: black;

    font-family: fredoka;
    font-size: 200%;
    font-weight: 500;
    text-wrap: nowrap;
    margin: 0;
}

.bottom-box-flex-container {
    width: 100%;
    height: 100%;

    display: flex;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.missed-questions-container {
    height: 50%;
    width: 85%;

    overflow-y: scroll;
}

.missed-questions-item-container {
    width: 100%;
    height: max-content;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sample-item {
    display: none;
}

.missed-questions {
    width: 98%;
    height: 55px;

    background: #FAFAF9;
    border-radius: 8px;
    border: 2px solid #F1F1F1;

    margin-bottom: 10px;
    cursor: pointer;
}

.missed-questions-flex-text {
    width: 50%;
    height: 100%;
    float: left;

    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.missed-questions-flex-text>h2 {
    width: min-content;
    height: 100%;
    padding-left: 10%;

    color: #FA8223;

    font-family: fredoka;
    font-size: 2.5vh;
    font-weight: 500;
    text-align: center;
    line-height: 55px;
}

.internal-container {
    height: 60%;
    width: 50%;

    position: relative;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    float: right;

    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
}

.internal-container>.image-container {
    height: 100%;
    aspect-ratio: 1/1;

    background: transparent;
    border-radius: 20px;
    border: 2px solid #F1F1F1;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin-left: 10px;

    transition: all 0.15s linear;

    &>i {
        color: #6473FF;
        font-size: 1.75vh;
    }
}

.internal-container>.image-container:hover {
    transform: scale(1.1);
}

.internal-container>.image-container:active {
    transform: scale(0.95);
}

.internal-container>.times-container {
    height: 100%;
    aspect-ratio: 1/1;

    background-color: #FFD8BA;
    border-radius: 4px;

    margin-left: 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &>h1 {
        height: 100%;
        width: 100%;

        color: #FA8223;
        font-family: fredoka;
        font-size: 1.75vh;
        font-weight: 500;
        text-align: center;
    }
}

.internal-container>.retry-container {
    height: 100%;
    aspect-ratio: 1/1;

    background: transparent;
    border-radius: 4px;
    border: 2px solid #F1F1F1;

    margin-left: 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    transition: all 0.15s linear;

    &>i {
        color: #6473FF;
        font-size: 1.75vh;
    }
}

.missed-answer-modal {
    width: 45%;
    height: 55%;

    background: white;
    border-radius: 15px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: none;

    z-index: 999999;
}

.mam-title-flexbox {
    margin-top: 5%;

    width: 100%;
    height: 10%;

    position: relative;
    left: 0;
    top: 0;

    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2%;

    &>.mam-img-container {
        height: 100%;
        aspect-ratio: 1/1;
        background-color: #FFC7C7;
        border-radius: 8px;
        margin-left: 5%;

        &>i {
            color: #FE3E3E;
            font-size: 4vh;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &>h1 {
        color: #FE3E3E;
        font-size: 4vh;

        font-family: fredoka;
        font-weight: 600;
        margin-left: 2.5%;
    }
}

.mam-description-flexbox {
    margin-top: 2.5%;

    width: 100%;
    height: 60%;

    position: relative;
    left: 0;
    top: 0;

    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;

    &>h2 {
        color: #6473FF;
        font-size: 4vh;

        position: relative;
        width: 90%;
        height: max-content;
        word-wrap: break-word;

        font-family: fredoka;
        font-weight: 600;

        margin-bottom: 0;
        margin-left: 5%;
    }

    &>h3 {
        color: #7c89ff;
        font-size: 3vh;

        position: relative;
        width: 90%;
        height: max-content;
        word-wrap: break-word;

        font-family: fredoka;
        font-weight: 600;

        margin-top: 2.5%;
        margin-left: 5%;
    }
}

.mam-button-flexbox {
    margin-bottom: 2.5%;

    width: 100%;
    height: 20%;

    position: relative;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;

    &>button {
        background-color: transparent;
        color: #5849FF;
        cursor: pointer;
        font-size: 1.5vw;

        width: 17vw;
        height: 4vw;

        border: 2px solid black;
        border-color: #5849FF;
        border-radius: 10px;
        margin-top: 20px;

        position: relative;
        left: 50%;
        transform: translateX(-50%);

        font-family: fredoka;

        transition: all 0.15s linear;
    }

    &>button:hover {
        color: white;
        border: none;
        background-color: #5849FF;
        box-shadow: 0 0 25px 1px rgba(175, 175, 175);
        transform: translateX(-50%) scale(1.05);
    }

    &>button:hover::before {
        color: #5849FF;
        border-color: #5849FF;
        background-color: transparent;
        transition: all 0.1 fade-out;
    }

    &>button:active {
        transform: translateX(-50%) scale(0.95);
    }
}

.okay-button {}

.internal-container>.retry-container:hover {
    transform: scale(1.1);
}

.internal-container>.retry-container:active {
    transform: scale(0.975);
}

.animate-on-load {
    transform: scale(1.15);
    animation: loading_scale 0.75s forwards;
    animation-delay: 900ms;
}

@keyframes loading_scale {
    100% {
        transform: scale(1);
    }
}